<% include partials/header %>
<h1>You fall in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "haily"){ %>
  <p>
    Good Choice!
  </p>
<% } else { %>
  <p>
    Bad Choice!
  </p>
  <% } %>

<%include partials/footer %>
