<h1>Friends List Goes Here!</h1>

<% friends.forEach(function(friend){ %>
  <li><%= friend %></li>
<% }) %>


<form action="/addfriend" method="post">
  <input type="text" name="newFriend" placeholder="name">
  <button type="button">Add Friend</button>
</form>
